# Store in ~/local/share/applications
# Execute: update-desktop-database ~/.local/share/applications
[Desktop Entry]
Type=Application
Version=1.0
Name=Jar Opener
# This is for opening files, not launching the notebook from a menu
NoDisplay=true
Exec=java -jar %f
Terminal=false
MimeType=application/x-java-archive;
